* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    background-color: #d9ffec
}

.search-form {
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #3464be;
    width: 100vw;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 5px 5px -5px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.search-input {
    margin-right: 25px;
}


button {
    border-radius: 3px;
    background-color: rgb(233, 223, 136);
}

.gallery {
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
        padding-top: 75px;
        margin: 0;
        max-width: calc(100vw - 80px);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.load-more {
    display: block;
    margin: 10px auto;
    opacity: 1;
}


.info {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    border: solid 1px #eee;
    border-top: 0;
}

.info-item {
    font-size: 12px;
}

.info-item span {
    display: flex;
    margin-top: 5px;
    font-weight: 400;
}
.gallery img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}